<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Santiago Pantín de Prado.
    La URL de mi repositorio GitHub es: https://github.com/santipantin94/Quiz-2017
</p>

<img src="/images/Santi.JPG" />

