<h1>Ayuda</h1>

<p>
    Podemos definir un Quiz como una prueba sencilla para evaluar un contenido o conocimiento de un tema por parte de los integrantes de un grupo.
    El proyecto Quiz consistir치 por tanto en crear una red social que permita a multiples usuarios compartir advinanzas y que las puedan responder unos a otros.
    Los usuarios podr치n ver las distintas preguntas publicadas por otros usuarios y responder lo que consideren correcto en un input que aparecer치 a continuaci칩n de la pregunta.
</p>
